<div class="pj-list">
  <% @projects.each do |pj| %>
    <div class="pj-card">
      <div class="pj-card-title">
        <h3><%= pj.title %></h3>
      </div>
      <div class="pj-card-create">
        <p><%= pj.created_at %></p>
      </div>
    </div>
  <% end %>
  <div>
    <div class="button-new-project">
      <p id="new-project">New Project</p>
      <div id="form-project" class="containeur-form-project">
        <%= simple_form_for @project, remote: true do |f| %>
          <%= f.input :title, label: "Project's title:", error: 'Title is mandatory, enter one please' %>
          <%= f.button :submit, "Create", class: "btn btn-success px-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
