<div class="project_container">
  <div class="project_banner">
    <h2><%= @project.title %></h2>
  </div>
  <div class="pj-body">
    <div class="instrumental">
      <div class="cloud_formulary modalsong hidden">
        <div>
          <%= simple_form_for(@project) do |f| %>
            <%= f.input :song, as: :file, class:"btn-upload btn px-5" %>
            <%= f.button :submit, "Upload", class:"btn-upload btn px-5"%>
          <% end %>
        </div>
        <div class="voice-record">
          <% if @project.voice_records.first %>
            <% @project.voice_records.each do |vr| %>
              <% vrc = cloudinary_url(vr.voice.key, :resource_type=>"video") %>
              <%= audio_tag vrc,:source_types => [:mp3],:controls => true,:poster => false %>
            <%end%>
          <%end%>
        </div>
      </div>
      <div class="wavebody">
        <% if @project.song.attached? %>
          <% instru = cloudinary_url(@project.song.key, :resource_type=>"video") %>
        <%end%>
        <div id="waveform" data-instru="<%= instru %>">
        </div>
        <div class="lecture">
          <button class="button_pp">
            <input type="button" class="wave_btn" id="btn_pause" value=""><i class="fas fa-pause"></i></input>
          </button>
          <button class="button_pp">
            <input type="button" class="wave_btn" id="btn_play" value=""><i class="fas fa-play"></i></input>
          </button>
          <button class="btn_stop">
            <input type="button" class="wave_stop" id="btn_stop" value=""><i class="fas fa-stop"></i></input>
          </button>
        </div>
      </div>
    </div>
    <div class="textarea">
      <%= simple_form_for [@project, @note] do |f| %>
        <%= f.input :content, label: false, :as => :text, :input_html => { id: "notes", :rows => 15, :cols => 30, value: "#{@project.note.content}"} %>
        <%= f.submit 'Update note'%>
        <input type="hidden" name="_method" value="patch">
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' unless @disable_nav %>
</div>
