<div class="project_container">
    <div class="project_banner">
        <h2><%= @project.title %></h2>
    </div>

    <div class="modalsong">
      <div>
        <%= @project.title %>
      </div>

      <div>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :song, as: :file %>
          <%= f.submit %>
        <% end %>
      </div>
      <% if @project.song.attached? %>
        <%= cl_video_tag @project.song.key,:source_types => [:mp3],:controls => true,:poster => false %>
      <%end%>
      <% if @project.voice_records.first %>
        <% @project.voice_records.each do |vr| %>
          <%= cl_video_tag vr.voice.key,:source_types => [:mp3],:controls => true,:poster => false %>
        <%end%>
      <%end%>

    </div>

        <div class="notes">

        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="project_footer">

    </div>
</div>
