<div class="project_container">
  <div class="project_banner">
    <h2><%= @project.title %></h2>
  </div>
  <div class="pj-body">
    <div class="instrumental">
      <div>
        <%= simple_form_for(@project) do |f| %>
          <%= f.input :song, as: :file, class:"btn-upload btn px-5" %>
          <%= f.button :submit, "Upload", class:"btn-upload btn px-5"%>
        <% end %>
      </div>
      <div>
        <% if @project.voice_records.first %>
          <% @project.voice_records.each do |vr| %>
            <%= cl_video_tag vr.voice.key,:source_types => [:mp3],:controls => true,:poster => false %>
          <%end%>
        <%end%>
      </div>
      <div class="wavebody">
        <div id="waveform" data-instru="<%= instru %>">
        </div>
        <input type="button" class="wave_btn" id="btn_play" value="play"/>
        <input type="button" class="wave_btn" id="btn_pause" value="Pause"/>
        <input type="button" class="wave_btn" id="btn_stop" value="stop"/>
      </div>
    </div>
    <div class="textarea">
    </div>
  </div>
  <%= render 'shared/footer' unless @disable_nav %>
</div>
