<div class="project_container">
  <div class="pjbanner">
    <div class="go-back">
      <%= link_to projects_path , class: "backtoprojectarrow" do %>
        <i class="fas fa-arrow-left" id="backtoprojects"></i>
      <% end %>
    </div>
    <div class="title-box">
      <h2><%= @project.title %></h2>
    </div>
  </div>
  <div class="pj-body">
    <div class="instrumental">
      <div class="wavebody">
        <% if @project.song.attached? %>
          <% instru = cloudinary_url(@project.song.key, :resource_type=>"video") %>
        <% else %>
          <%= simple_form_for @project, html: {id: :'form-submit-instru'}, remote: true do |f| %>
            <i class="fas fa-cloud-upload-alt"></i>
            <%= f.input :song, as: :file, input_html: {id:"instru", class:"up-instru"}, label:"..", label_html: {id:"label-inst"} %>
          <% end %>
        <%end%>
        <div id="waveform" data-instru="<%= instru %>">
        </div>
        <div class="lecture">
          <button class="button_pp wave_btn" id="btn-play" data-playing="false">
            <i id="play-icon" class="fas fa-play"></i>
          </button>
          <button class="btn_stop wave_stop" data-playing="false" id="btn_stop">
            <i class="fas fa-stop"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="voice-records-list" class="voice-record">
      <% if @project.voice_records.first %>
        <% @project.voice_records.order(created_at: :asc).each do |vr| %>
          <%= render 'voice_records/voice_record', voice_record: vr %>
        <%end%>
      <%end%>
    </div>
    <div class="textarea">
      <textarea class="form-control text optional" id="notes" rows="24" cols="33" data-token="<%= form_authenticity_token %>" ><%= @project.note.content.strip %></textarea>
    </div>
  </div>
  <div id="voice-records-index" class="vr-index">
    <% @voicerecords.order(created_at: :asc).each do |vri| %>
      <%= render 'voice_records/voice_record_index', voice_record_index: vri %>
    <% end %>
  </div>
  <%= render 'shared/footer' unless @disable_nav %>
</div>
